.app-title{
  text-align: center;
  margin-bottom: 50px;
}
.app-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px;
}
.link-generation-card{
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 5px 1px black;
}
.input-user{
  display: block;
  width: 280px;
  margin: 20px;
  font-size: 18px;
  padding: 5px 10px;
 }
.btn-generate-link{
  display: block;
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 10px auto;
  cursor: pointer;
}
.copy-image{
  height: 20px;
  position: relative;
  top: 25px;
  right: 20px;
  cursor: pointer;
}
.input-short-url{
  width: 260px;
  margin: 20px;
  font-size: 18px;
  padding: 5px 10px;
}
.short-url-container{
display: flex;

justify-content: space-around;
}
.all-links-container{
  height: 72vh;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: 1px;
}
.all-links-container::-webkit-scrollbar {
  display: none;
}
.link-text{
  font-size: 20px;
  
}
.text-url{
  color:rgb(5, 117, 161);
  font-size: 17px;
}
.link-card{
  background-color:white;
  padding: 5px 10px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px lightblue;
  color: black;
  width: 600px;
}
.link-gene{
  text-align: center;
}
@media screen and (max-width:668px) {
  .link-generation-card{
 width: 300px;
}
.input-user{
  width: 240px;
  margin: 20px;
 }
}